@import "tailwindcss";
@import 'simplebar-react/dist/simplebar.min.css';
@import 'aos/dist/aos.css';

/* ============================= */
/*          COLOR SYSTEM         */
/* ============================= */

:root {
  --color-primary: #182547;
  --color-primary-light: #3C507D;
  --color-primary-lighter: #B3CFE5;
  --color-accent: #D93B22;

  --neutral-100: #dde6ed;
  --neutral-200: #b3cfe5;
  --main-gray: #b1b1b3;

  /* Light Theme */
  --light-bg: #F4F6F8;
  --light-surface: #FFFFFF;
  --light-text: #1C1F26;
  --light-subtext: #5A5F6A;
  --light-border: #DDE3EA;

  /* Dark Theme */
  --dark-bg: #0F1628;
  --dark-surface: #182547;
  --dark-text: #E5E9F1;
  --dark-subtext: #AAB4C4;
  --dark-border: #28344D;
}


/* ============================= */
/*          LIGHT MODE           */
/* ============================= */

.header-light {
  background: var(--light-surface);
  color: var(--color-primary);
}

.header-light {
  background: var(--light-surface);
  color: var(--color-primary);
}

.h2-light {color: var(--color-primary);}

.body-light {color: var(--light-text);}

.btn-light {
  background: var(--color-primary);
  color: #fff;
}

.btn-light:hover {
    background: var(--color-primary-light);  
    color: var(--color-dark-surface);
    scale:1.05!important;  
    transition: all 0.4s ease-in-out;
}


/* ============================= */
/*           DARK MODE           */
/* ============================= */

.dark .header-dark {
  background: var(--color-primary);
  color: var(--dark-text);
}

.dark .h2-dark { color: var(--neutral-200);}

.body-dark {color: var(--dark-text);}
.btn-dark {
  background: var(--color-primary-light);
  color: #fff;
}

.btn-dark:hover {
    background: var(--color-primary-lighter);
    color: var(--color-primary);
    scale:1.05!important;
    transition: all 0.4s ease-in-out;
}


.font-garamond { font-family: "EB Garamond", serif; }

.font-baskerville { font-family: "Libre Baskerville", serif; }

.font-body { font-family: "Source Serif Pro", serif; }



.overflow-x-scroll::-webkit-scrollbar {
    display: none;
}

.overflow-x-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* SimpleBar horizontal track styling */
.simplebar-track.simplebar-horizontal {
    width: 40% !important;
    left: 50% !important; 
    transform: translateX(-50%);
    height: 10px !important;
    background-color: #e5e7eb;
    border-radius: 999px;
    position: absolute !important;
    overflow: hidden;
}

.simplebar-track.simplebar-horizontal::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e5e7eb; 
    border-radius: 999px;
    top: 0;
    left: 0;
}

/* SimpleBar scrollbar thumb styling */
.simplebar-scrollbar::before {
    background-color: #182547;
    height: 100% !important;
    width: 110% !important;
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    border-radius: 999px;
}

